*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --container-bg: white;
    --header-text: black;
    --barrapes-bg-hover: #ebebeb; 
    --item-bg: #f8f9fa;
    --item-text: black;
    --footer-bg: #f8f9fa;
    --footer-text1: black;
    --footer-text2: black;
    --footer-text3: black;
    --footer-hr: rgb(225, 225, 225);
    --claro-bg: #ebebeb;
    --switch-text: black;
    --barrapes-text: black;
    --barrapes-boder: #ebebeb;
    --shadow: rgb(70, 70, 70);
}

.dark-mode:root{
    --container-bg: #1d2022;
    --header-text: white;
    --barrapes-bg-hover: rgb(57, 57, 57); 
    --item-bg: rgb(57, 57, 57);
    --item-text: white;
    --footer-bg: rgb(24, 24, 24);
    --footer-text1: white;
    --footer-text2: white;
    --footer-text3: white;
    --footer-hr: rgb(70, 70, 70);
    --claro-bg: none;
    --switch-text: white;
    --barrapes-text: white;
    --barrapes-boder: rgb(57, 57, 57);
    --shadow: black;
}
body{
    font-family: Arial, sans-serif;
    font-size: 11pt;
}
.container{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: var(--container-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 65px;
    width: 100vw;
}
.user{
    border-radius: 100px;
    width: 32px;
    margin-right: 5px;
    margin-bottom: 1px;
}
.menu ul{
    width: 250px;
    display: flex;
    justify-content: space-around;
}
.menu ul li{
    margin-top: 10px;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: var(--header-text);
}

.menu ul .mballs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 21px;
    width: 21px;
    margin-top: 7px;
}

.menu ul .mballs .r{
    width: 21px;
    height: 4px;
    display: flex;
    justify-content: space-evenly;
}

.menu ul .mballs .r .ball{
    height: 4px;
    width: 4px;
    border-radius: 100px;
    background-color: var(--header-text);
}


main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 340px;
    margin-bottom: 50px;
}

.centro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.imgs{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
}

.imgprin{
    width: 420px;
}

.share{
    width: 20px;
    height: 20px;
}

.barrapes{
    border: 1px solid var(--barrapes-boder);
    border-radius: 50px;
    box-shadow: none;
    height: 50px;
    width: 585px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    background: none;
}

.barrapes:hover{
    background: var(--barrapes-bg-hover);
    box-shadow: 5px 5px 5px var(--shadow);
    transition: 0.5s;
}

.search{
    background: none;
    color: var(--barrapes-text);
    border: 0;
    font-size: 12pt;
    width: 73%;
    outline: none;
    display: flex;
    flex-wrap: wrap;
}

.icons{
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itens{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.item{
    height: 35px;
    width: 140px;
    border-radius: 5px;
    background: var(--item-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.item:hover{
    box-shadow: 5px 5px 5px var(--shadow);
    transition: 0.5s;
}
.item a{
    text-decoration: none;
    color: var(--item-text);
}

#switch{
    position: relative;
    position: absolute;
    cursor: pointer;
    bottom: 13%;
    right: 0.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}

#switch-text{
    color: var(--switch-text);
}

#switch-check{
    cursor: pointer;
}

footer{
    color: var(--footer-text1);
    width: 100vw;
    height: 95px;
    background: var(--footer-bg);
}
footer hr{
    border: 0;
    border-top: 1px solid var(--footer-hr);

}
footer .f1{
    width: 95%;
    height: 49%;
    margin: auto;
    display: flex;
    align-items: center;
}
footer .f2{
    width: 95%;
    height: 49%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
footer .f2 .m1 ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;

} 
footer .f2 .m1 ul li{
    list-style: none;
}

footer .f2 .m1 ul li a{
    text-decoration: none;
    color: var(--footer-text2);
}

footer .f2 .m2 ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 250px;
}

footer .f2 .m2 ul li a{
    text-decoration: none;
    color: var(--footer-text3);
}

@media screen and (max-width: 1200px){
    footer .f2{
        display: flex;
        justify-content: space-around;
    }
}
@media screen and (max-width:750px){
    footer {
        height: 150px;
        display: flex;
        flex-direction: column;
    }
    footer .f1{
        height: 19%;
    }
    footer .f2{
        height: 60%;
        display: flex;
        flex-direction: column;
    }
}
@media  screen and (max-width: 630px){
    .barrapes{
        width: 90%;
    }
    .imgprin{
        width: 70%;
    }
    .search{
        margin-left: 5px;
    }
}
@media screen and (max-width: 320px) {
    .itens{
        width: 90%;
    }
    .item{
        width: 45%;
    }
}